[Desktop Entry]
Name=Simple Reader
Exec=webapp-container --app-id="simplereader.collaproductions" $@ index.html
Icon=icon.png
X-Ubuntu-Splash-Color=#df4f5c
X-Ubuntu-Splash-Image=splash.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
