[Desktop Entry]
Name=Simple Reader
Exec=qmlscene %U qml/Main.qml
Icon=icon.png
X-Ubuntu-Splash-Color=#df4f5c
X-Ubuntu-Splash-Image=splash.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
